.cardContainer {
  display: flex;
  max-height: 700px;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  margin-bottom: 70px;
}

.card {
  width: 400px;
  height: 450px;
  text-align: start;
  margin-bottom: 50px;
}

.card p {
  margin: 5px 0;
}

.card p:last-child {
  margin-top: 15px;
}

.card h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.price {
  font-size: 1.5em;
  color: var(--light-grey);
}

.img {
  height: 350px;
  width: 400px;
  object-fit: cover;
  border-radius: 40px;
}
