.cardContainer {
  display: flex;
  padding: 10px 0;
  max-height: 600px;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  margin-bottom: 70px;
}

.card {
  width: 400px;
  height: 450px;
  text-align: start;
  margin-bottom: 50px;
}

.card p {
  margin: 5px 0;
}

.card p:last-child {
  margin-top: 15px;
}

.card h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.price {
  font-size: 1.5em;
  color: var(--light-grey);
}

.img {
  height: 350px;
  width: 400px;
  object-fit: cover;
  border-radius: 40px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.img:hover {
  transform: scale(1.03);
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  width: 120px;
  display: flex;
  align-items: flex-end;
  padding: 10px 3px;
  margin-left: auto;
}

.buttonContainer button {
  border: none;
  font-size: 0.8em;
  font-weight: 600;
  height: 50px;
  width: 120px;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  border: 1px solid var(--secondary-font);
  color: var(--secondary-font);
  transition: transform 0.3s ease-in-out, border 0.1s ease-in-out;
}

.buttonContainer button:hover {
  transform: scale(1.05);
  border: 1px solid var(--blue-accent);
}
