.mainContainer {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.h1 {
  font-size: 6em;
  margin: 0;
  margin-bottom: 110px;
  font-weight: 600;
}

.description {
  max-width: 450px;
  margin-left: 150px;
  font-size: 1.1em;
  color: var(--secondary-font);
}

.firstSection {
  text-align: start;
  justify-self: start;
}

.secondSection {
  min-width: 750px;
  height: 700px;
}

.span {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--primary-font);
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.span::after {
  content: "→";
  font-size: 2.2em;
  margin-left: 3px;
  display: inline-block;
  transition: transform 0.5s ease-in-out;
  transform: translate(0, 0);
}

.span:hover::after {
  transform: translate(25px, 0);
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }

  .h1 {
    font-size: 3.2em;
    margin-bottom: 30px;
  }

  .description {
    max-width: 100%;
    margin-left: 0;
    font-size: 1em;
    padding: 0 20px;
  }

  .firstSection {
    text-align: center;
    order: 2;
  }

  .secondSection {
    min-width: 100%;

    max-height: 400px;
    order: 1;
    margin-bottom: 30px;
  }

  .span {
    font-size: 1em;
    border: 1px solid var(--secondary-font);
    padding: 0px 25px 10px 25px;
    font-weight: 500;
    border-radius: 25px;
  }
}
