.nav {
  height: 60px;
  font-size: 1.2em;
  width: 1400px;
  padding: 5px 25px 20px 25px;
  position: sticky;
  top: 0;
  left: 5;
  background-color: white;
  z-index: 1000;
  margin-bottom: 60px;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  padding: 15px 0;
  margin-left: 15px;
  margin-right: 15px;
}

.logo {
  position: relative;
}

.logo::after {
  content: ".";
  font-size: 2em;
  margin-left: 10px;
  position: absolute;
  top: -28px;
}

.list li {
  margin: 0;
}

.list li {
  cursor: pointer;
  transition: 0.2s ease-in color;
}

.list li:hover {
  color: var(--blue-accent);
}

.list li:first-child {
  margin-right: auto;
  font-weight: 600;
}

.number {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    height: auto;
    background-color: white;
    width: 100%;
    padding: 20px 10px;
    z-index: 1000;
  }

  .list {
    padding: 0;
    justify-content: space-between;
    margin: 0;
    background-color: white;
    width: 100%;
  }

  .list li {
    padding: 0;
  }

  .list li:last-child {
    padding-right: 20px;
  }
}
