@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --secondary-font: rgb(82, 82, 82);
  --primary-font: rgb(47, 47, 47);
  --pink-accent: pink;
  --blue-accent: lightskyblue;
  --light-grey: grey;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  box-sizing: border-box;
  color: var(--secondary-font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-font);
}

a {
  color: var(--secondary-font);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in color;
}

a:hover {
  color: var(--blue-accent);
}
